# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
*.egg-info/

# Flutter / Dart
.dart_tool/
build/
frontend/android/
frontend/ios/
frontend/linux/
frontend/macos/
frontend/windows/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock

# Docker
.dockerignore

# Secrets
*.json
!frontend/web/manifest.json
